<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body class="cuerpo">
  <%- include('../partials/header.ejs') %> 
    <div class="formCarga">
      <form action="/admin/formCarga" method="POST" id ="formCarga" class="sesion-registro" enctype="multipart/form-data">
        <h2>Agregar nuevo Producto</h2>
        <hr>
        <div class="row">
          <div class="col-10">
            
            <input type="text" name="name" placeholder="Nombre del producto" id="inputname" class="form-control mt-5 form-datos">
            <span  id="nameError"></span>
           
           
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            
            <input type="text" id="inputmake" name="make" placeholder="Modelo o marca del producto" class="form-control mt-5 form-datos">
            <span id="makeError"></span>
           
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            
            <input type="number" id="price" name="price" class="form-control mt-5 form-datos" placeholder="Precio de producto">
            <span id="priceError"></span>
            
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            
            
            <input type="text" name="description" id="description" class="form-control mt-5 form-datos" placeholder="Description">
            <span id="descriptionError"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <label name="imgagen" class="mt-5">Imagen de Producto</label>
            <input class="form-control form-control-lg Imagen" id="formFileLg" type="file"  name="img">
            <span id="formFileLgError"></span>

          </div>
        </div>
        <br>
        <button class="button" type="submit">Publicar</button>
        
      </form>
    </div>
  <%- include('../partials/footer.ejs')%> 
  <script src="/javascripts/producto.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>
</body>
</html>