<footer>
  <div class="container-fluid footer">
    <nav class="row row-footer">

      <div id="footer">
  
      <!--MENU DE OPCIONES-->
      <div class=" boxed1">
      <ul class="list-unstyled more-links">
        <li class="font-weight-bold h3 mb-1 mb-lg-3"><a href="/sobre-nosotros" class="texto">Sobre Nosotros</a></li>
        <li class="font-weight-bold h3 mb-1 mb-lg-3"><a href="" class="texto">Medios de pago</a>
        <li class="font-weight-bold h3 mb-1 mb-lg-3"><a href="/contacto" class="texto">Contacto</a>
        </li>
      </ul>
      </div>
      
      <!--ICONOS DE REDES SOCIALES Y MEDIOS DE PAGO-->
      <div class=" boxed2">
      <ul class="icono list-unstyled">
        <li class="cards">
          <span class="d-flex justify-content-center" style="color: rgb(227, 216, 126)">Formas de pago:</span>
          <i class="fab fa-cc-discover ft-icon"></i>
          <i class="fab fa-cc-mastercard ft-icon"></i>
          <i class="fab fa-cc-amex ft-icon"></i></li>
        </li>
        <li class="sites">
          <span class="d-flex justify-content-center h5 mt-3" style="color: rgb(227, 216, 126)">Seguinos en:</span>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter ft-icon"></i></a>
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square ft-icon"></i></a>
          <a href="https://amazon.com" target="_blank"><i class="fab fa-amazon ft-icon"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram ft-icon"></i></a>
        </li>
      </ul>
      </div>
    
      <!--LOGO-->
      <div class=" boxed3">
      <a href="/" class="logoo">
      <img src="/images/bicilogoo.png" alt="bici Bikes" class="logo">
      </a>
      </div>

      <div class="copyright-box">
        <div class="copyright-1">© Copyright 2021 – Todos los derechos reservados BiciBikes.</div>
        <div class="copyright-2">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online y los planes de financiación para los productos presentados/publicados en www.bicibikes.com.ar son válidos exclusivamente para la compra vía internet. Las especificaciones técnicas y descripciones están sujetas a cambios sin previo aviso.</div>
      </div>

       </div>
    </nav>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
