<header>
  <div class="container-fluid header">
    <nav class="navbar navbar-expand-md navbar">
      <div class="row">
        <div class="col-10 "> 
          <a class="navbar-brand" href="/"><img src="/images/bicilogoo.png" class="img-fluid" alt=""></a>       
        </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><img class="wheel" src="/images/wheel.png" alt=""></span>
        </button> 
        <div class="col-12 buscador">
          <form class="search-form" action="/buscar" method="GET">
            <input class="form-control input-search" type="search" placeholder="Productos, marcas y mas ..." aria-label="Search" name="buscador">
            <button class="btn header-btn" type="submit">Buscar</button>
          </form>
      </div>
          
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class=" navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/admin/formCarga">Agregar nuevo</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/admin/list">Lista de productos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtros
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">MTB</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Ciudad</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pegable</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Kids</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">BMX</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Electrica</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Ruta</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/full">Bicicletas</a>
            </li>
            
            
          </ul>
          <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href="/usuario/registro">Registrar<i class="fas fa-user-plus fa-lg"></i></a></li>
            <li><a class="nav-link" href="/usuario/login">Iniciar<i class="fas fa-users fa-lg"></i></a></li>
            <li><a class="nav-link" href="/compras">Mis Compras<i class="fas fa-shopping-cart fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>