
<header>
    <nav class="navbar navbar-expand-lg navbar">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" alt=""></a>

      <div class="col-7 col-md-6 search-container">
        <form class="form-inline my-2 my-lg-0">
          <input type="text" placeholder="Buscador">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">buscar</button>
        </form>
      </div>

      <nav class="navbar-expand-md">
				<button class="navbar-toggler burger" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="menu navbar-nav mr-auto">
						<li><a href="#">Contacto</a></li>
						<li><a href="/login/login">Iniciar sesion</a></li>
						<li><a href="/registro/registro">Registrate</a></li>
						<li><a href="#">Carrito de compras</a></li>
            <li><a href="/admin/formulario">Administrador</a></li>
					</ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
                Bicis
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">MTB</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Ciudad</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pegable</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Kids</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">BMX</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Electrica</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Ruta</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      </div>
    </nav>
</header>