<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>

    <section class="container">
       <div class="row">
        <div class="col-lg-8">
            <div class="cart"></div>
        </div>
        <div class="col-lg-4">
            <div class="total"></div>
            <div class="pagos"></div>
        </div>
       </div>
    </section>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>