<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body>
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  <h2>Carrito de Productos</h3>
  <hr>

  <a href="#" class="subir">
    <button>COMPRAR AHORA</button> <!--este debe llevar a la pagina de comprar -->
  </a>
  <%- include('partials/footer.ejs') %> 
</body>
</html>