<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body>
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  <h2>Detalle de Producto Selecionado</h3>
  <hr>

 <hr>
  <select id="color" name="color"> <!--este dato debe ser guardado-->
    <option>azul</option>
    <option>rojo</option>
    <option>negro</option>
  </select>
  <br>
  <a href="#" class="subir">
    <button>comprar ahora</button> <!--este debe llevar a la pagina de comprar -->
  </a>
  <br>
  <a href="#" class="subir">
  <button>agregar a carrito</button> <!--este debe llevar a la pagina de carrito-->
  </a>
  <hr>
  <div class="col-10">
  <input type="text" class="form-control" id="text" placeholder="comenta" name="text">
</div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">comentar</button>
  </div>
  <hr>
  <%- include('partials/footer.ejs') %> 
</body>
</html>