<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body id="detalle-detalle">
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  <h3>Detalle de Producto Selecionado</h3>
  <hr>
  <div class="container detalle">
    <div class="row"> <!--div row para c. sección-->

     <div class=" a col-12 col-md-6 col-lg-3"> <!--Div col para c. producto-->
       <section class="product"> <!--Sección de cada producto-->
         <a href=""><img src="/images/biciEjemplo.png" alt="Bicicleta"></a>
         <article>
           <h3>$11.111</h3>
           <span>Envio bonificado</span>
           <i class="fas fa-truck"></i>
         </article>
         <div class="detalle">
           <p>Bici MTB</p>
         </div>
       </section>  <!--cierra sección de cada producto-->
      </div> <!--cierra div col-->
    </div>
    <hr>
  </div>

 <div class="text-center">
  <select id="color" name="color"> <!--este dato debe ser guardado-->
    <option>azul</option>
    <option>rojo</option>
    <option>negro</option>
  </select>
 </div>

  
  <a href="#" class="subir">
    <button class="btn btn-primary detalle" type="submit">COMPRAR AHORA</button> <!--este debe llevar a la pagina de comprar -->
  </a>
  <br>
  <a href="#" class="subir">
  <button class="btn btn-primary detalle" type="submit">AGREGAR A CARRITO</button> <!--este debe llevar a la pagina de carrito-->
  </a>
  <hr>
  <div class="d-grid gap-2">
    <p>Lorem, ipsum dolor sit amet <br> consectetur adipisicing elit.</p>
  </div>
  <div class="col-10">
  <input type="text" class="form-control detalle" id="text" placeholder="comenta" name="text">
</div>
  <div class="d-grid gap-2">
    <a href="#" class="subir">
      <button class="btn btn-primary detalle" type="submit">COMENTAR</button>
    </a>
    
  </div>
  <div>
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
        <hr class="col-10" size="5">
  </div>
 
  <%- include('partials/footer.ejs') %> 
</body>
</html>