<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
<body class="admin">
  <%- include('partials/header.ejs') %> 
    <div class="container cargaProducto">
      <form action="/productos/list" method="POST">
        <h3>Agregar nuevo Producto</h3>
        <hr>
        <div class="row">
          <div class="col-10">
            <label for="name">Nombre</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="modelo">Marca</label>
            <input type="text" class="form-control">
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="numero">Precio de Producto</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="name">Descripcion</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row"> 
          <div class="col-10">
            <label>Estado de prodcuto</label>
            <select>
              <option value="new">nuevo</option>
              <option value="used">usado</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="number">Contacto Proveedor</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="name">Medio De Cobro</label>
            <br>
            <input name="cobro" type="checkbox">tarjetas
            <br>
            <input name="cobro1" type="checkbox">efectivo
            <br>
            <input name="cobro2" type="checkbox">pago facil

          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="name">Envio</label>
            <br>
            <input name="envio" type="checkbox">retiro personal
            <br>
            <input name="envio1" type="checkbox">envio a domicilio
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="name">Imagen de Producto</label>
            <input type="file" class="form-control">
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Publicar</button>
        
      </form>
    </div>
  <%- include('partials/footer.ejs')%> 
</body>
</html>