<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
<body class="admin">
  <%- include('partials/header.ejs') %> 
    <div class="container cargaProducto">
      <form action="/productos/list" method="POST">
        <h3>Agregar nuevo Producto</h3>
        <hr>
        <div class="row">
          <div class="col-10">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="modelo">Marca</label>
            <input type="text" class="form-control">
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="precio">Precio de Producto</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row"> 
          <div class="col-10">
            <label>Estado de prodcuto</label>
            <select>
              <option value="estado">nuevo</option>
              <option value="estado">usado</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="contacto">Contacto Proveedor</label>
            <input type="numero" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="cobro">Medio De Cobro</label>
            <br>
            <input name="cobro" type="checkbox">tarjetas
            <br>
            <input name="cobro" type="checkbox">efectivo
            <br>
            <input name="cobro" type="checkbox">pago facil

          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="envio">Envio</label>
            <br>
            <input name="envio" type="checkbox">retiro personal
            <br>
            <input name="envio" type="checkbox">envio a domicilio
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label name="img">Imagen de Producto</label>
            <input type="file" class="form-control">
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Publicar</button>
        
      </form>
    </div>
  <%- include('partials/footer.ejs')%> 
</body>
</html>