<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
<body class="admin">
  <%- include('partials/header.ejs') %> 
    <div class="container cargaProducto">
      <form action="/admin/formCarga" method="POST">
        <h3 class="text-center">Agregar nuevo Producto</h3>
        <hr>
        <div class="row">
          <div class="col-10">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="modelo">Marca</label>
            <input type="text" class="form-control" name="marca">
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="precio">Precio de Producto</label>
            <input type="number" class="form-control" name="precio">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control" name="description">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="envio">Envio</label>
            <br>
            <input name="envio" type="checkbox">retiro personal
            <br>
            <input name="envio1" type="checkbox">envio a domicilio
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label name="imgagen">Imagen de Producto</label>
            <input type="text" class="form-control" name="img">
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Publicar</button>
        
      </form>
    </div>
  <%- include('partials/footer.ejs')%> 
</body>
</html>