<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <main>
    <%= about %> 
  </main>
    <div>
      <div class='col-12'>
        <figure class="center">
          <img src="../public/images/biciEjemplo.png" alt="" class="img-fluid">
        </figure>
      </div>
    </div>
 
  <%- include('partials/footer') %> 
</body>
</html>