<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <link rel="stylesheet" href="stylesheets/home.css">
  <main>
    <h2>Bienvenidos! Estos son nuestros productos</h2>
    <div class="container-fluid">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <section>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
          <article> <img src="images/biciEjemplo.png" alt="" class="img-fluid"></article>
</section>
        </div>
      </div>
    </main>



  <%- include('partials/footer') %> 
</body>
</html>