<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body>
  <%- include('partials/header.ejs') %> 
  <main>
    <%= about %> 
  </main>

  <section class="container">
    <div class="producto">
      <a href="#">
        <img src="public/images/biciEjemplo.png" alt="imagen 
  de producto">
        <h2></h2>
        <h2 class="name">bicileta</h2>
        <i class="fas fa-truck"></i>
        <h3 class="precio">$1.234</h3>
      </a>
  </section>

  <%- include('partials/footer.ejs') %> 
</body>
</html>