<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <link rel="stylesheet" href="stylesheets/home.css">
  <main>
    <section class="banner">
    <h1>Bienvenidos a Bici Bikes! Estos son nuestros productos</h1>
  </section>
    <div class="container products-wrapper">
      <section class="row">
        <div class="col-12">
          <h2 class="products-title">Últimos vistos</h2>
        </div>
        <% products.forEach(producto =>{ %>
      <div class="col-12 col-md-6 col-lg-3">
        <section class="product-box">
          <a href="">
      <figure class="product-box_data">
          <a href=""><img src="images/biciEjemplo.png" alt="" class="img-fluid"></a>
        </figure>
      <article>
      <h3>$11111</h3>
      <span>40% OFF</span>
      <i class="fas fa-truck"></i>
      </article>
      <div class="detalle">
        <p>Bici MTB</p>
        <p>Lorem ipsum dolor sit amet</p>
<% }) %>
        </div>
      </div>
        </article>
        </div>
  

<%- include('partials/footer') %> 
</body>
</html>