<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <body>
    <%- include('partials/header')%>
     <div class="login">
       
       <form class="sesion" action="" method="POST">

          <h2>Inicia sesion</h2>
          <p>
            <input type="email" placeholder="Email" name="email">
          </p>

          <p>
            <input type="password" placeholder="Contrase単a" name="pass">
          </p>

          <% if (typeof errores != 'undefined') { %>
            <ul>
              <% errores.forEach(error =>{%>
                <li><%= error.msg %> </li>
              <% }) %> 
            </ul>
           <% } %>

          <p>
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar">Recuerdame</label>
          </p>
          <p>
            <button class="button" type="submit">Entrar</button>
          </p>
          
        <a href="/usuario/registro">多Todavia no tiene una cuenta?</a>
        <a href="">多Olvidaste tu Contrase単a?</a>
      </form>

    </div> 
        
      <%- include('partials/footer') %>

  </body>
</html>