<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header')%>
        <form>
            <h2>Inicio de sesion</h2>
            <p>
                <input type="text" placeholder="Email">
            </p>
            <p>
                <input type="text" placeholder="Contraseña">
            </p>
            <p>
                <button type="submit">Ingresar</button>
            </p>
            <%- include('partials/footer') %> 
        </form>
</body>
</html>