<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <body>
    <%- include('partials/header')%>
     <div class="login">
       

       <form class="sesion">

          <h2>Inicia sesion</h2>
          <p>
            <input type="text" placeholder="Email">
          </p>

          <p>
            <input type="text" placeholder="Contrase単a">
          </p>

          <p>
            <button class="button">Entrar</button>
          </p>
       
        <a href="">多Todavia no tiene una cuenta?</a>
        <a href="">多Olvidaste tu Contrase単a?</a>
      </form>
    </div>
          

    
        
      <%- include('partials/footer') %>

  </body>
  </html>