<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%>

<body>
    <body>
        <%- include('../partials/header')%>
       

    
        <%- include('../partials/footer') %>
    </body>
</body>
</html>
