<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%>

<body>
    <body>
        <%- include('../partials/header')%>
       
        <div class="contenedor">
            
            <div class="row">
              <div class="register-wrapper">
                <div class="register-form">
                    
                        <div class="pic text-center">
                            <img src="/images/imgUser/" alt="foto de perfil" class="img-fluid">
                        </div>
                       
                       
                                                 
                                     
                </div>
    
              </div>    
            </div>
        </div>
    
        <%- include('../partials/footer') %>
    </body>
</body>
</html>
