<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')%>

<link rel="stylesheet" href="../stylesheets/nosotros.css">
<body>
            <div class="col-12">
                
                  <h4 class="inspo">Este e-commerce, de venta de bicicletas comenzó como una respuesta, a una situación de pandemia, ante la necesidad de la gente de llevar una vida más saludable,ante el desafío de desarrollar o potenciar talentos, de reunir a familias en una misma actividad y también como un vehículo sustentable para llegar a nuestros destinos.
                  Por eso creamos este sitio dónde cada uno va a encontrar la Bike acorde a sus necesidades, sus actividades y a su personalidad ===>>> todo esto con garantía de CALIDAD Y SATISFACCIÓN</h4>
              
                <div class="nosotros">
                    
                    <div class="card-deck">
                        <div class="card">
                            <a href="https://github.com/Maria5398"> <img src="../images/foto_maria.png" class="card-img-top" alt="María"></a>
                          <div class="card-body">
                            <h5 class="card-title">MARIA</h5>
                            <p class="card-text">Mi nombre es María Isabel Báez Rodríguez Estudiante de Programación Web Full Stack -Digital House- Gracias a la Fundación Formar.</p>
                            
                          </div>
                        </div>
                        <div class="card">
                            <a href="https://github.com/EzequielArias12"><img src="../images/foto_ezequiel" class="card-img-top" alt="Ezequiel"></a>
                          <div class="card-body">
                            <h5 class="card-title">EZEQUIEL</h5>
                            <p class="card-text"></p>
                            
                          </div>
                        </div>
                        <div class="card">
                            <a href="https://github.com/msofia97"><img src="../images/foto_sofia.png" class="card-img-top" alt="Sofía"> </a>
                          <div class="card-body">
                            <h5 class="card-title">SOFIA</h5>
                            <p class="card-text"></p>
                          </div>
                        </div>
                      </div>

                    
                       
                                                 
                </div>   
            </div>
            <%- include('partials/footer') %>
            
    </body>
</html>
