<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')  %> 
<link rel="stylesheets" href="stylesheets/styles.css">
<body>
<%- include('partials/header.ejs') %> 

    <div class="container-fluid">
        <form action="/" method="post">
            <h3>Registro de Tarjeta</h3>
            <hr>
            <div class="row">
              <div class="col-10">
                <div class="form-floating mb-3"> <!--agregar selec aqui, nuevo o usado-->
                  <label for="number">Tarjeta de :</label>
                  <select id="tarjeta" name="tarjeta">
                    <option>devito</option>
                    <option>credito</option>
                  </select>
                </div>
                <div class="col-10">
                  <div class="form-floating mb-3"> <!--probar poner el input dentro de label-->
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="name" name="name">
                  </div>
                </div>
                <div class="col-10">
                  <div class="form-floating mb-3">
                    <label for="color">numero de tarjeta</label>
                    <input type="number" class="form-control" id="number" placeholder="number" name="number">
                  </div>
                </div>
                <div class="col-10">
                  <div class="form-floating mb-3">
                    <label for="color">fecha de caducidad</label>
                    <input type="data" class="form-control" id="number" placeholder="aa/dd/mm" name="number">
                  </div>
                </div>
                <div class="col-10">
                  <div class="form-floating mb-3">
                    <label for="color">dni Titular</label>
                    <input type="number" class="form-control" id="number" placeholder="dni" name="number">
                  </div>
                </div>
                <div class="col-10">
                  <div class="form-floating mb-3">
                    <label for="color">codigo de seguridad</label>
                    <input type="number" class="form-control" id="number" placeholder="codigo" name="number">
                  </div>
                </div>
            <div class="col-10">
              <button class="btn btn-primary" type="submit">enviar</button>
            </div>
          </div>
        </form>
    </div>
 
    <%- include('partials/footer.ejs')  %> 

</body>
</html>