<!DOCTYPE html>
<html lang="en">
<%- include('/views/partials/head.ejs')  %> 
<body>
<%- include('/views/partials/header.ejs') %> 

    <div class="container">
        <form action="" method="">
            <h3>Agregar nuevo producto</h3>
            <hr>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="form-floating mb-3"> <!--probar poner el input dentro de label-->
                  <input type="text" class="form-control" id="name" placeholder="name" name="name">
                  <label for="name">Nombre del Producto</label>
                </div>
              </div>
              <div class="col-lg-6">
                <p>agrega imagen de producto</p>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="imagen" placeholder="imagen" name="img">
                  <label for="imagen">Imagen</label>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="modelo" placeholder="marca" name="marca">
                    <label for="modelo">Marca</label>
                  </div>
              <div class="col-md-6 col-lg-4">
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="number" placeholder="number" name="number">
                  <label for="color">precio de producto</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="form-floating mb-3"> <!--agregar selec aqui, nuevo o usado-->
                  <label for="anio">estado de producto</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="text" placeholder="text" name="text">
                  <label for="color">ubicacion de proveedor </label>
                </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="number" placeholder="number" name="number">
                  <label for="color">contacto de proveedor</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <!--agregar un selec aqui , efetivo, tarjeta, pago facil-->
                  <label for="color">medio de cobro</label>
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <!--agregar un selec aqui , selec mercado envio, oca otros-->
                  <label for="color">formar de envio</label>
                </div>
            
            </div>
          
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">enviar</button>
            </div>
          
        </form>
    </div>
 
    <%- include('/views/partials/footer.ejs')  %> 

</body>
</html>