<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')%>

<body class="cuerpo">
    <%- include('partials/header')%>
   
    <div class="contenedor">
        <div class="form-registro">
            <form id="form" class="sesion-registro" action="" enctype="multipart/form-data">
                <h1 class="registro h1 mt-2">Registro</h1>
                <input id="name" class="form-control mt-5 form-datos" name="name" type="text" placeholder="Nombre">
                <span class="error" id="nameError"></span>
                <input id="lastname" class="form-control mt-5 form-datos" name="last name" type="text" placeholder="Apellido">
                <span id="lastNameError"></span>
                <input id="email" class="form-control mt-5 form-datos" name="email" type="email" placeholder="Email">
                <span id="emailError"></span>
                <input id="password" class="form-control mt-5 form-datos" name="password" type="password" placeholder="Contraseña">
                <span id="passwordError"></span>
                <input id="password2" class="form-control mt-5 form-datos" name="password2" type="password" placeholder="Repetir Contraseña">
                <span id="passwordError2"></span>
               <!--  <input id="date" class="form-control mt-5 form-datos" name="date" type="date">
                <span id="dateError"></span> -->
                <div>
                    <button class="btn btn-registro hvr-box-shadow-outset" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>


    

    <%- include('partials/footer') %>
    <script src="/javascripts/registro.js"></script>

</body>
</html>