<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body class="cart-body">
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  <h2 class="carrito-h2">Carrito de Productos</h2>
   
    <div class="cart-item container-fluid">

    <div class="row">

      <div class="col-6 col-md-3">
        <img src="/images/otraBike.png">
      </div>
      <div class="description col-6 col-md-9">
         <p>
           Bici MTB, Rodado 27, Azul
           <br>
           $49.000
         </p>
        </div>  
    </div>
    <div class="options-container p-3">
        <a href="">Eliminar</a> 
        <a class="ml-5" href="">Otros productos</a>
    </div>
    
  </div>

  
   <section class="cart-footer">

    

      <p>Total a pagar</p>
      
      <button class="d-flex align-self-end mb-1" type="submit">Continuar compra</button>

     <p class="mr-1">$</p> <p>90.000</p>

   </section>
    
 
    
    
     
    




  

  
  <%- include('partials/footer.ejs') %> 
</body>
</html>