.footer {
    background-color: darkgoldenrod;
}

.more-links li {
    text-align: center;
}

.texto {
    color: var(--yellow);
    text-decoration: none;
    font-size: 20px;
}

.texto:hover {
    color: var(--darkGreen);
    text-decoration: none;
}

.ft-icon {
    color: black;
    font-size: 2rem;
}

.icono {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.cards {
    margin-top: 20px;
}

.cards, .sites {
    height: 40%;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.logoo {
    display: flex;
    align-self: center;
}

.copyright-box {
    text-align: center;
    width: 100%;
    padding: 10px;
}

.copyright-1, .copyright-2 {
    font-size: 13px;
    line-height: 20px;
    
}

.copyright-2 {
    padding: 10px 0px 0px;
}

/* TABLETS*/
@media(min-width:768px){
    .texto {
        font-size: 20px;
    }
}
@media(min-width:1020px){
 
}
