body {
    background-color: var(--black);
}

.header {
    background-image: url('../images/bg-tree.png');
}

.row {
    background-color: rgba(11, 10, 7, 0.1);
}

.search-form {
    display: flex;
    position: relative;
    right: 5%;
    width: 90%;
    padding: revert;
}

.btn {
    display: flex;
    color: var(--black);
    background-color: var(--darkGreen);
    position: relative;
    left: 10%;
    height: 40px;
    margin-top: 14px;
}

.btn:hover {
    background-color: darkgoldenrod;

}

.dropdown-menu {
    background-color: darkgoldenrod;
    border: none;
    text-align: center;
}

.dropdown-menu a:hover{
    background-color: var(--darkGreen);
}

.dropdown-divider {
    color: var(--darkGreen);
}

.navbar-nav i{
    color: var(--darkGreen);
    padding-left: 5px;
}

.navbar-collapse ul li a{
    font-family: Montserrat;
    font-size: 20px;
    color: var(--yellow);
}

.navbar-collapse ul li a:hover {
    color: var(--darkGreen);
}

.nav-link {
    font-size: 1rem;
}

.wheel {
    background-color: darkgray;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 4rem;
    border-radius: 70px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.wheel:hover {
    box-shadow: 5px 5px 5px 5px var(--black);
    transform: scale(1.05);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media(min-width:768px){
    .search-form {
        width: 73%;
    }
    .header-btn {
        position: relative;
        left: 5%;
    }
    .navbar-collapse ul li a{
        font-size: 18px;
    }
}
@media(min-width:1024px){
    .search-form {
        width: 64%;
    }
    .header-btn {
        position: relative;
        left: 5%;
    }
    .navbar-collapse ul li a{
        font-size: 23px;
    }
}