

.acount{
  padding:-100px;
}

.pic img {
    display: block;
    height: 123px;
    border-radius: 50%;
}

.eliminar {
    position: relative;
    left:150px;
}

.pic {
    position: relative;
    height: 140px;
    left:60px;
    top:10px;
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, rgb(220, 148, 16), rgb(227, 214, 214));
    margin: auto;
    border-radius: 50%;
    background-size: 200% 300%;
    animation : animated-gradient 2s linear infinite;
}
@keyframes animated-gradient {
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

