

.acount{
  padding:-100px;
}
.register-form {
    border: 1px solid white;
    background-color: antiquewhite;
    border-radius: 30px;
    opacity: 0.6;
}

.pic {
    position: relative;
    left:-10px;
    top:-10px;
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #000000, #ff0000);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 300%;
    animation : animated-gradient 2s linear infinite;
}
@keyframes animated-gradient {
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img {
    display: block;
    height: 100px;
    border-radius: 50%;
}
