@import "detalle.css";
@import "admin.css";
@import "footer.css";
@import "home.css";
@import "header.css";
@import "login.css";
@import "registro.css";
@import "carrito.css";
@import "general.css";
@import "products.css";
@import "profile.css";

:root {
    --darkGray: #393e46;
    --lightGray: #eeeeee;
    --bc:rgba(250, 241, 119, 0.6);
    --green: rgb(187, 206, 168);
    --black: rgb(11, 10, 7);
    --darkGreen: rgb(116, 128, 103);
    --yellow: rgb(227, 216, 126);
    --orange: rgb(231, 155, 54);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
.fa-twitter:hover{   color: aqua;}
.fa-facebook-square:hover{   color: blue;}
.fa-spotify:hover{   color: green;}
.fa-apple:hover{   color: rgb(111, 122, 122);}
.fa-amazon:hover{   color: orange;}
.fa-instagram:hover{   color: rgb(206, 43, 111);}

@media(min-width:425){
    
}
