@import "header.css";
@import "detalle.css";
@import "admin.css";
@import "footer.css";
@import "home.css";
@import "header.css";
@import "login.css";

:root {
    --black: #222831;
    --darkGray: #393e46;
    --yellow: #ffd369;
    --lightGray: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(min-width:425){
    
}
