*{
    margin: 0 auto;
}
body.tarjeta{
    background: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-atmospheric-black-mountain-mountain-bike-outdoor-sports-image_182595.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

div label{
    font-family: Montserrat;
    color: white;
    font-size: x-large;
}
input .form-control:hover{
    text-decoration: none;
    color:rgb(225, 233, 112);
}